body, html {
    height: 100%;
    margin: 0;
}

.slideshow-container {
    position: relative;
    max-width: 800px; /* Match the width of the plots */
    height: 600px; /* Match the height of the plots */
    margin: auto;
}

.slide {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
